{% extends 'base.html.twig' %}


{% block body %}

	<h3>{{ page_name }}</h3>

	<div class="card border-info mb-3">
		<h5 class="card-header">{{oferta_detall.titol}}</h5>
		<div class="card-body">
			<p class="card-text text-secondary">{{ oferta_detall.resum }}</p>
			<hr>
			<h5 class="card-title">Descripcio</h5>
			<p class="card-text text-secondary">{{ oferta_detall.descripcio }}</p>
			<hr>
			<h5 class="card-title">Requisits</h5>
			<p class="card-text text-secondary">{{ oferta_detall.requisits }}</p>
			<div class="text-right">
				<cite class="text-right text-secondary">
					publicada el&nbsp;{{oferta_detall.dataPublicacio|date("d/m/Y")}}&nbsp;por&nbsp;<a href="{{ path('empresa_detall', {id:oferta_detall.empresa.id}) }}" class="card-link text-info">{{ oferta_detall.empresa.nom }}</a>
				</cite>
			</div>
		</div>
	</div>

{% endblock %}
