{% extends 'base.html.twig' %}

{% block content %}

	{% for oferta in ofertes_llista %}

		<div class="card border-info mb-3">
			{% if oferta.estat == "pendent" %}
				<h5 class="card-header alert-warning">{{oferta.titol}}
				{% else %}
					<h5 class="card-header">{{oferta.titol}}
					{% endif %}
					{% if app.user %}
						{% if (app.user.id == oferta.empresa.usuario.id) or is_granted('ROLE_ADMIN') %}

							<span style="position:absolute;right: 1em;">
								<a class="text-warning" href="{{ path('editar-oferta', {id:oferta.id}, 'editar') }}" alt="Editar oferta" title="Editar oferta">
									<i class="fa fa-pencil"></i>
								</a>&nbsp;
								<a class="text-danger" href="{{ path('eliminar-oferta', {id:oferta.id}, 'editar') }}" alt="Eliminar oferta" title="Eliminar oferta">
									<i class="fa fa-trash"></i>
								</a>
							</span>

						{% endif %}
					{% endif %}

				</h5>
				<div class="card-body">
					<p class="card-text text-secondary">{{ oferta.resum }}</p>
					<cite class="text-secondary">
						<a href="{{ path('detall-oferta', {id:oferta.id}) }}" class="card-link text-info">veure detall</a>
					</cite>
					<hr>
					<div class="text-right">
						<cite class="text-secondary">
							Publicada el&nbsp;{{oferta.dataPublicacio|date("d/m/Y")}}&nbsp;por&nbsp;<a href="{{ path('info-empresa', {id:oferta.empresa.usuario.id}) }}" class="card-link text-info">{{ oferta.empresa.nom }}</a>
						</cite>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endblock %}
